/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */

/* Header */
header nav div img {
    height: 40px;
}
header nav div h1{
    margin: 0;
}

/* Footer*/
footer div{
    width: 100%;
}

footer div div div p{
    margin: 0;
}


/* body */
body main{
    margin-top: 80px;
}

body .products div .img-card{
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

